
@import url('https://fonts.googleapis.com/css?family=Roboto');


/*Custom css*/

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body {
  background: #f2f3f4;
}

.second h3{
  font-weight: bolder;
}
.second ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
  font-size:13px;
  padding-right: 100px;
}
.second ul p{
  font-weight: 300;
}

.btn1{
  border: 1px rgba(0, 0, 0, 0.645) solid;
  border-radius: 10px;
  background-color: #e58c27;
  color: #ffffff;
  font-weight: bolder;
  font-size: 20px;
  width: 100%;
}
.Search-section{
  background: #e77f7f;
  color: #fff;
  padding: 10px;
}
.part a{
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
}
#holiday{
  color: black;
  text-decoration: none;
}
#holiday:hover{
  font-weight: bolder;
  font-size: large;
  color: #ffffff;
}
#hotels{
  color: grey;
  text-decoration: none;
}
#hotels:hover{
  color: #ffffff;
}
.search{
  align-content: center;
  width: 100%;
  padding: 15px;
  background: #e4e2e298;
  border-radius: 5px;
  border: 1px solid #000000;
  margin: 0px;
}
form{
  color: black;
  font-size: small;
  font-weight:600;
  padding-top: 0px;
}
.third-section{
  justify-content:start; 
  
  width: 100%;
}
.third-section ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.third-section ul li h5{
  font-weight: bold;
}
.para{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-center{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.para1{
  font-weight: 600;
}





/*Outside css for collage*/

.row {
  width: 100%;
  height: 300px;
  margin:0px;
  margin-top: 10px;
  box-shadow: 0px 0px 3px rgb(255, 255, 255);
  position: relative;
  display: flex;
  column-gap: 0;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  background-color:#ffffffb1;
  padding-top: 0px;
  
}
.column2 {
  width: 50%;
  background-color:#ffffffb1;
  padding-top: 0px;
  
}
.column1 {
  width: 25%;
  background-color:#ffffffb1;
  padding-top: 0px;
  
}
.column3{
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container{
  display:grid;
}
/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}






/*Outside css for footer*/

.bg-footer {
    background-color: #33383c;
    padding: 50px 0 30px;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #1bbc9b;
}

.contact-info {
    color: #acacac;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}

.twitter {
    background-color: #55acee;
    color: #ffffff;
}

.google {
    background-color: #d6492f;
    color: #ffffff;
}

.apple {
    background-color: #424041;
    color: #ffffff;
}

.footer-alt {
    color: #acacac;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}












/*Outside css for service-section*/

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}



.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #067d92;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  width: 100%;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box button{
  font-size: 20px;
  color: #FFF;
  border: 1px rgb(211, 211, 211) solid;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box button:hover{
  font-size: 20px;
  color: #FFF;
  border: 1px black solid;
  background: #0c0c0c5f;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}